@tailwind base;
@tailwind components;
@tailwind utilities;

.scroller[data-scrollable="true"] .scrollable-content {
  animation: scroll 4s linear;
  animation-fill-mode: forwards;
}

@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(calc(-100% + 1em));
  }
}
